body {
    max-width: 95% !important;
    width: 95% !important;
    margin: auto !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* Remove huge Blowfish side paddings */
.px-6,
.sm\:px-14,
.md\:px-24,
.lg\:px-32 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* Wider prose pages */
.max-w-prose {
    max-width: 90rem !important;
}
